/*div.card {*/
/*  width: 250px;*/
/*  height: 404px;*/
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*  text-align: center;*/
/*  margin: 10px;*/
/*  background-color: white;*/
/*}*/

div.container {
  height: 100px;
}

p {
  margin-bottom: 0;
}

img {
  width: 250px;
  height: 250px;
  object-fit: contain;

}

.image {
  width:225px;
  height:225px;
  background-position:center;
}

.cart-icon {
  left: 100%;
  top: 80%;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  box-shadow: 0 0 10px gray;
  margin-left: 10px;
  float:right;
}

.cart-icon-text {
  /*display: block;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  position: relative;
  text-align:center;
  background-color: transparent;
}


.edit-icon {
  left: 52%;
}

.edit {
  background: #fca130;
}

.delete {
  background: #ba3e3e;
}
