@import '../../../../../styles';


div.container {
  height: 100px;
}

p {
  margin-bottom: 0;
}

.image {
  width:225px;
  height:225px;
  background-position:center;
}

.action-icon {
  left: 100%;
  top: 80%;
  width: 37px;
  height: 37px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  float:right;
}

.action-icon-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  position: relative;
  text-align:center;
  background-color: transparent;
}

.edit-icon {
  left: 52%;
}

.edit {
  background: #fca130;
}

.delete {
  background: #ba3e3e;
}
