@import '../../../../../styles/variables';
@import '../../../../../styles';

div.add-new-item-card {
  background-image : radial-gradient(
          #a6f5b8,
          $base-color-green);
}

.plus {
  margin: auto;
  color:white;
}

@media screen and (max-width: 600px) {
  li {float: none;}
}

@media screen and (max-width: 780px) {
  .items-list {
    width: 95% !important;
  }
}
