@import 'styles/variables';

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

/* Add application styles & imports to this file! */
body {
  --text-color: #222;
  --bkg-color: #D0CFCF;
  --btn-txt-color: white;
  --btn-bg-color: rgb(11, 88, 160);
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #252222;
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
}

body {
  background: var(--bkg-color);
}

.text-theme-dependent {
  color: var(--text-color);
}

ul.items-list {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 80%;
  text-align: center;
  display: flow-root;
}

.generic-button {
  margin-left: 12px;
  background-color: $base-color-green;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.generic-small-button {
  background-color: $base-color-green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-disabled {
  background: gray;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 11%;
}


.item-li {
  display: inline-flex;
  float:left;
  //transition: transform .2s;
}

.item-li:hover {
  //transform: scale(1.1);
}

.item-card {
  width: 152px;
  height: 242px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid $base-color-light;
  text-align: center;
  margin: 10px;
  background-color: $base-color-light;
  border-radius: 2%;
  //color: $base-color-light;
}

label {
  display: block;
  margin: .5em 0;
  font-weight: bold;
}

input[type=text], textarea {
  width: 80%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
