@import '/src/styles/variables';

.add-to-cart-button {
  min-width: 36px;
  min-height: 36px;
  padding: 0;
  margin-left: 10px;
}

.count-input {
  width: 36px;
  height: 36px;
  border-color: $base-color-green;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
}

.button-right {
  height: 36px;
  border-radius: 0 10px 10px 0;
}

.button-left {
  height: 36px;
  border-radius: 10px 0 0 10px;
}

.item-cart-counter-text {
  position: relative;
  text-align:center;
  color: white;
}

.cart-counter {
  position: relative;
  background-color: $color-red;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  bottom: 245px;
  left: 135px;
}
