@import '../../../../styles/variables';
@import '../../../../styles';

.topnav {
  margin-bottom: 16px;
}

.info-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  height: 39px;
  overflow: auto;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0 24px 0 0;
  background-color: $base-color-brown;
  height: 64px;
  overflow: auto;
}

.logo {
  background-color: #1f8019;
  height: 64px;
  padding: 16px 6px 6px 6px;
}

img {
  width: 160px;
}

.nav-item {
  margin: 10px 9px;
  height: 45px;
  min-width: 45px;
}

.info-item {
  margin: 5px 6px;
  height: 29px;
  padding-top: 4px;
  min-width: 45px;
}

select {
  height: 29px;
}

.cart {
  margin-top: -10px;
}

.left { float: left; }

.right { float: right; }

.middle {float: bottom}

.search-bar {
  border: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  background: #575757;
  color: white;
  padding-left: 12px;
}

.search-bar-item {
  margin-top: 12px;
  width: 400px;
}

.cart-counter {
  position: relative;
  background-color: #ba3e3e;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  bottom: -15px;
  left: 30px;
}

.cart-counter-text {
  position: relative;
  text-align:center;
  color: white;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    padding: 0;
  }
}

@media only screen and (max-width: 750px) {
  .search-bar-item{
    display: none;
  }
}
