@import '../../../../styles/variables';
@import '../../../../styles';

//body {margin: 0;}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $base-color-brown;
  height: 64px;
}

.logo {
  background-color: #1C841C;
  height: 64px;
  padding: 16px 6px 6px 6px;
}

img {
  width: 160px;
}

.item {
  margin: 10px 6px;
}

select {
  height: 45px;
}


.cart {
  margin-top: -10px;
}

.left { float: left; }

.right { float: right; }

.cart-counter {
  position: relative;
  background-color: #ba3e3e;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  bottom: -15px;
  left: 26px;
}

.cart-counter-text {
  position: relative;
  text-align:center;
  color: white;
}

.generic-small-button{
  height: 45px;
}
