ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 80%;
  text-align: center;
}

li {
  display: inline-flex;
  float:left;
  transition: transform .2s;
}

li:hover {
  transform: scale(1.1);
}

div.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  height: 46px;
  color: white;
  text-align: center;
}

div.add-new-item-card {
  background-image : radial-gradient(
          #a6f5b8,
          #1C841C);
}

.plus {
  margin-top: 120px;
  color:white;
}

@media screen and (max-width: 600px) {
  li {float: none;}
}
