ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 80%;
  text-align: center;
}

li {
  display: inline-flex;
  float:left;
  transition: transform .2s;
}


li:hover {
  transform: scale(1.1);
}

div.cart-icon {
  left: 90%;
  top: 80%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #1C841C;
  position: fixed;
  box-shadow: 0 0 10px gray;
}

div.cart-icon-text {
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  color: white;
  position: relative;
  text-align:center;
}

@media screen and (max-width: 600px) {
  li {float: none;}
}
