@import '/src/styles/variables';

.bottom-container {

}

.add-to-cart-button {
  min-width: 36px;
  min-height: 36px;
  padding: 0;
  margin-left: 10px;
}

.plus-sign {

}

.count-input {
  width: 36px;
  height: 36px;
  border-color: $base-color-green;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
}

.button-right {
  height: 36px;
  border-radius: 0 10px 10px 0;
}

.button-left {
  height: 36px;
  border-radius: 10px 0 0 10px;
}
