
  <app-base-item-card [item]="item">
      <span class="bottom-container">
          <button class="generic-small-button button-left" (click)="dropOne()">
              <i class="fa fa-arrow-down"></i>
          </button>
          <input class="count-input" [ngModel]="count" (ngModelChange)="onCountChange($event)">
          <button class="generic-small-button button-right" (click)="addOne()">
              <i class="fa fa-arrow-up"></i>
          </button>
          <button class="generic-small-button add-to-cart-button"
                  [class.button-disabled]="!isCountValid"
                  [disabled]="!isCountValid">
              <i class="fa fa-shopping-cart">
                  <i class="fa fa-plus plus-sign"></i>
              </i>
          </button>
      </span>
  </app-base-item-card>
