<div class="item-card">
    <app-image-viewer (click)="goToItemDetails()" [file]="imageToShow" [isLoading]="isImageLoading"></app-image-viewer>
    <div class="item-container">
        <div (click)="goToItemDetails()">
            <h5 class="item-name">{{item.name}}</h5>
            <ul class="colors">
                <li *ngIf="item.color != null" class="option">
                    <app-color-circle [color]="item.color?.colorHex ?? ''"></app-color-circle>
                </li>
                <li *ngIf="item.color != null && item.volume != null" class="option">
                    &nbsp;|&nbsp;
                </li>
                <li *ngIf="item.volume != null" class="option">
                    <p style="">{{displayVolume(item)}}</p>
                </li>
                <li *ngIf="item.volume == null && item.color == null" class="option">
                    <p></p>
                </li>
            </ul>
        </div>
        <ng-content></ng-content>
    </div>
</div>
