@import "src/styles/variables";

div.item-container {
  height: 38%;
}

.price-tag {
  color: $price-text-color;
  margin-bottom: 1px;
}

.colors-available {
  margin-bottom: 1px;
}

.item-name {
  margin-bottom: 0;
}

.colors {
  list-style-type: none;
  padding: 0;
  horiz-align: center;
}

.option {
  display: inline-block;
}

p {
  margin: 0;
}
