@import '../../../../../styles/variables';
@import '../../../../../styles';

div.container {
  box-shadow: 0 0 10px;
  width: 60%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 48px;
}

div.details {
  margin: auto;
}

img {
  width: 225px;
  height: 225px;
  object-fit: contain;
}

button.add-to-cart {
  background: $base-color-green;
  border: none;
  font-size:20px;
  color: white;
  cursor: pointer;
}

button.add-to-cart:hover {
  background: #3e8e41;
}

p.price {
  color: $base-color-green;
}

hr {
  margin-left: 0;
  width: 100px;
  border: 1px solid $base-color-green;
}

div.cart-icon {
  left: 90%;
  top: 80%;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: $base-color-green;
  position: fixed;
  box-shadow: 0 0 10px gray;
}

div.cart-icon-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  position: relative;
  text-align:center;
}
