div.card {
  width: 250px;
  height: 370px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 10px;
  background-color: white;
}

div.container {
  height: 100px;
}

img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.image {
  width:225px;
  height:225px;
  background-position:center;
}
