<div class="topnav">
    <button class="generic-button" [routerLink]="['/admin']">
        <i class="fas fa-chevron-left"></i>
    </button>
    <p i18n>You are the admin</p>
</div>

<div class="form-container">
    <app-item-form [item]="item" (onSubmit)="submit($event)"></app-item-form>

    <div class="edit-image-container">
        <img [src]="imageToShow" class="edit-image" alt="item image"
             *ngIf="!isImageLoading; else noImageFound">
        <ng-template #noImageFound>
            <img src="assets/loading.gif" alt="item image">
        </ng-template>

        <div class="form-group">
            <label for="file" class="edit-image-button">Edit image</label>
            <input type="file"
                   accept=".jpg, .jpeg, .png, .gif, .bmp"
                   id="file"
                   (change)="handleFileInput($event)">
        </div>
    </div>
</div>
