@import '../../../../../styles/variables';
@import '../../../../../styles';

div.input-form {
  width: 50%;
  display: inline-block;
}

div.edit-image-container {
  width: 50%;
  float: right;
  height: 100%;
}

.edit-image-button {
  display: block;
  background-color: $base-color-green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}

button.back {
  float: left;
  margin-left: 12px;
  background-color: $base-color-green;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-text-inputs {
  width: 50%;
}

@media screen and (max-width: 600px) {

  li.item-li {float: none;}

  .form-text-inputs {
    width: 100%;
  }

  .edit-image-container {
    width: 100%;
    float: none !important;
  }

  .form-container {
    display: block;
    margin-top: 10px;
    box-shadow: 0 0 0;
    width: 100%;
  }
}

