<div class="topnav">
  <button class="generic-button" [routerLink]="['/admin']">
    <i class="fas fa-chevron-left"></i>
  </button>
  You are the admin
</div>

<div class="container">
  <app-item-form [item]="item" (onSubmit)="submit($event)"></app-item-form>

  <div class="edit-image-container">
    <app-image-viewer [file]="file" [isLoading]="isLoading" [customHeight]=300 [customWidth]=300>
    </app-image-viewer>

    <div class="form-group">
      <label for="file" class="edit-image-button">Edit image</label>
      <input type="file"
             accept=".jpg, .jpeg, .png, .gif, .bmp"
             id="file"
             (change)="handleFileInput($event)">
    </div>
  </div>
</div>
