<footer>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3 i18n>Services</h3>
                        <ul>
                            <li><a href="#" i18n>Web design</a></li>
                            <li><a href="#" i18n>Development</a></li>
                            <li><a href="#" i18n>Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3 i18n>About</h3>
                        <ul>
                            <li><a href="#" i18n>Company</a></li>
                            <li><a href="#" i18n>Team</a></li>
                            <li><a href="#" i18n>Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Vivere</h3>
                        <p i18n>Compania Vivere este o Societate cu răspundere limitată înregistrată pe adresa Moldova, mun. Chişinău, sec. Centru, str. Hânceşti şos., 61, la data de 24.11.2010, se ocupă cu
                            Fabricarea și/sau comerțul materialelor construcţii şi prefabricate din aluminiu şi aliaje de aluminiu pentru construcţii
                            , materialelor lemnoase, al materialelor de construcţie şi echipamentului sanitar
                            , al aparatelor de iluminat şi articolelor de uz casnic neincluse în alte categorii
                            </p>
                    </div>
                    <div class="col item social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i>
                        </a><a href="#"><i class="fa fa-telegram"></i></a>
                        <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
                <p class="copyright">Vivere @ 2022</p>
    </div>
</footer>
