<div class="cart-page">
  <div class="cart-item-list">
    <h2 i18n>Your Order</h2>
    <div *ngIf="isCartEmpty" class="empty-cart-message">
      <h4 i18n>Your order is empty. You can still contact us and order verbally</h4>
    </div>
    <ul>
      <ng-container *ngFor="let itemCount of itemCounts">
        <li>
          <div *ngIf="itemCount.count != 0">
            <app-cart-item [item]="itemCount.item" [count]="itemCount.count"></app-cart-item>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="cart-form" [formGroup]="contactForm">
    <label for="fullName" i18n>Full name: </label>
    <input id="fullName" type="text" formControlName="fullName" required>

    <label for="phone" i18n>Phone number: </label>
    <input id="phone" type="text" formControlName="phoneNumber" required>

    <label for="email" i18n>Email: </label>
    <input id="email" type="text" formControlName="email" required>
    <button class="generic-button buy-button" (click)="buyItems()" i18n>
      Create order
    </button>
  </div>
</div>
